

# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env.*

# -------------------------
# Testing / Coverage
# -------------------------
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# -------------------------
# IDE / Editor
# -------------------------
.vscode/
.idea/
*.swp
*.swo

# -------------------------
# OS
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Database
# -------------------------
*.db
*.sqlite3

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# ML artifacts
# -------------------------
model/*.pkl
model/*.joblib

# -------------------------
# Docker
# -------------------------
*.tar

# -------------------------
# Secrets / Credentials
# -------------------------
*.pem
*.key
